<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>문서양식</title>
		<th:block th:include="layout/customHead"></th:block>
		<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js}"></script>
		<script>
			$(document).ready(function() {
				// 카테고리별 문서양식 목록
				$('.documentFormCategory a').click(function() {
					console.log('#documentFormCategory click');
					//비동기 요청
					$.ajax({
						url:'/getDocumentForm'
							, type:'GET'
							, data : {documentFormCategoryCode : $(this).attr("value")}
				            , success:function(data) {
				            	console.log(data);
				            	$('#documentFormList').empty();
				                $(data).each(function(i,item){
				                    $('#documentFormList').append('<tr>');
				                    $('#documentFormList').append('<td><a href="#" id="documentFormName" value="'+item.documentFormCode+'">'+item.documentFormName+'</a></td>');
				                    $('#documentFormList').append('<td>'+item.documentFormDate+'</td>');
				                    $('#documentFormList').append('</tr>');
				        	   	});
				            }
					});
					
					// 양식폼으로 이동
					$(document).on('click','#documentFormName',function(){
						console.log('documentFormName 클릭 테스트');
						let documentFormCode = $(this).attr('value');
						console.log('documentFormCode val = '+documentFormCode);
						
						location.href="/leaveApplicationForm?documentFormCode="+documentFormCode;
						
					});
				});
			});
		</script>
	</th:block>
	
	<th:block layout:fragment="customBody">
		<body>
			<div class="container">
			<h1>문서양식</h1>
				<table>
					<tr th:each="list : ${list}">
						<td class = "documentFormCategory">
							<a th:value="${list.documentFormCategoryCode}" href="#">
								<th:block th:text="${list.documentFormCategoryName}"></th:block>
							</a>
						</td>
					</tr>
				</table>
			</div>
			<div class="container">
				<form>
					<table border="1">
						<thead>
				            <tr>
				                <th>제목</th>
				                <th>등록일</th>
				            </tr>
				        </thead>
						<tbody id="documentFormList">
							
				        </tbody>
					</table>
				</form>
			</div>
		</body>
	</th:block>
	
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
	</th:block>
	
</html>
