<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<title>index.jsp</title>
</head>
<body>
	<h1>INDEX</h1>
	<div>
		<a href="/login">로그인</a>
		<a href="/logout">로그아웃</a>
	</div>
	
	
<div class="row">
	<div class="col-2" style="padding-right:20px; border-right: 7px solid #ccc;">
		<h1>글</h1>
		<h1>로</h1>
		<h1>벌</h1>
		<h1>네</h1>
		<h1>비</h1>
		<h1>게</h1>
		<h1>이</h1>
		<h1>션</h1>
		<h1>바</h1>
	</div>
	<div class="col-10" style="padding-right:20px; border-right: 1px solid #ccc;">
		<h1>본문</h1>
				
	</div>
</body>
</html>