<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ksmart31.team01.member.mapper.MemberLoginMapper">

	<!-- 로그인 처리를 위한 회원 정보 조회 -->
				<!-- vo타입주소 -->							<!-- resultMap에서 쓸 id -->
	<resultMap type="ksmart31.team01.member.vo.Member" id="selectMemberForLogin">
				<!-- db컬럼 -->		<!-- vo 데이터변수명 -->
		<result column="member_id" property="memberId"/>
		<result column="member_name" property="memberName"/>
		<result column="member_employee_code" property="memberEmployeeCode"/>
		<result column="department_name" property="departmentName"/>
		<result column="member_position_name" property="memberPositionName"/>
	</resultMap>
	<select id="selectMemberForLogin" parameterType="ksmart31.team01.member.vo.Member" resultMap="selectMemberForLogin">
		SELECT 
			member_id,
			member_name,
			member_employee_code,
			department_name,
			member_position_name
		FROM 
			member
		WHERE 
			member_id = #{memberId}
		AND	
			member_pw = #{memberPw}
	</select>
</mapper>