<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>공통 프로세스 관리</title>
		<th:block th:include="layout/customHead"></th:block>
	</th:block>
	
	<th:block layout:fragment="customBody">
		<body>
			<div class="container">
			<h1>공통프로세스 관리(관리자 결재선 관리)</h1>
				<table>
					<tr th:each="list : ${list}">
						<td>
							<a th:href="@{/boardDetail(approvalProcessCode = ${list.approvalProcessCode})}">
								<th:block th:text="${list.approvalProcessName}"></th:block>
							</a>
						</td>
					</tr>
				</table>
			</div>
		</body>
	</th:block>
	
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
	</th:block>
	
</html>
