<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>결재문서관리(워크플로우 문서 관리)</title>
		<th:block th:include="layout/customHead"></th:block>
		<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js}"></script>
		<script>
			$(document).ready(function() {
				$('.ck').change(function(){
					if($(this).is(":checked") == true){
			            console.log('#checkbox 클릭');
			            $("#btnRemove").show(); // 체크박스가 체크되면 삭제버튼 보이기
			            
			    		// 기안문서삭제
			    		$('#btnRemove').on('click',function() {
			    			console.log('삭제버튼 클릭');
			    			let ck = new Array();
			    			console.log('ck:'+ck);
			    			$('.ck:checked').each(function(i, item) {
			    				ck.push($(item).val());
			    				console.log('ck:'+ck);
			    			}); 
			    			
			    			// 비동기요청
			    			$.ajax({
			    				url:'/removeDraftDocument'
			    				, type:'POST'
			    	           	, data:{'ck':ck}
			    				, success : function() {
			    					console.log('삭제 성공');
			    					location.reload();	    					
			    				}
			    			});
			    		});
		
			        }else{
			        	console.log('#checkbox 클릭해제');
			        	$("#btnRemove").hide(); // 체크박스가 해제되면삭제버튼 숨기기
			        }
					
				});
			});
		</script>
	</th:block>
	
	<th:block layout:fragment="customBody">
		<body>
			<div class="container">
			<h2>결재문서관리(워크플로우 문서 관리)</h2>
				<button type="button" id="btnRemove" hidden="hidden">삭제</button>
				<table style="width:100%">
					<tr>
						<th></th>
						<th>상태</th>
					  	<th>문서명</th> 
					   	<th>기안자</th>
					   	<th>기안일</th>
					   	<th>최종승인자</th>
					   	<th>최종승인일</th>
					</tr>
					<tr th:each="list : ${list}">
						<td><input id="checkbox" type="checkbox" class="ck" th:value="${list.draftDocumentCode}"></td>
						<td th:text="${list.draftDocumentStatus}"></td>
						<td>
							<a th:href="@{/removeDraftDocument(draftDocumentCode = ${list.draftDocumentCode})}">
								<th:block th:text="${list.draftDocumentFileSaveName}"></th:block>
							</a>
						</td>
						<td th:text="${list.draftDocumentMemberName}"></td>
						<td th:text="${list.draftDocumentDate}"></td>
						<td th:text="${list.draftDocumentFinalApprovalMemberName}"></td>
						<td th:text="${list.draftDocumentFinalApprovalDate}"></td>
					</tr>
				</table>
			</div>
		</body>
	</th:block>
	
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
	</th:block>
	
</html>
