<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>공통 문서양식 관리</title>
<!-- jquery를 사용하기 위한 작성 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- 합쳐지고 최소화된 CSS -->
<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css}">
<!-- 합쳐치고 최소화된 자바스크립트 -->
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js}"></script>
<script>
	$(document).ready(function() {
		var documentFormCategoryCode;
		
		// 카테고리별 문서양식 목록
		$('#documentFormCategory').click(function() {
			console.log('#documentFormCategory click');
			
			//비동기 요청
			$.ajax({
				url:'/getDocumentForm'
					, type:'GET'
					, data : {documentFormCategoryCode : $('#documentFormCategory').val()}
		            , success:function(result) {
		            	
		            	console.log(result);
		            	$('#documentFormList').empty();
		                $(data.documentFormList).each(function(index,item){
		                    $('#documentFormList').append('<tr>');
		                    $('#documentFormList').append('<td><input type="checkbox" class="ck" value="'+item.id+'"></td>');
		                    $('#documentFormList').append('<td>'+item.documentFormCategoryName+'</td>');
		                    $('#documentFormList').append('<td>'+item.documentFormName+'</td>');
		                    $('#documentFormList').append('<td>'+item.documentFormDate+'</td>');
		                    $('#documentFormList').append('</tr>');
		        	   	});
		            }
			});
		});
	});
</script>
</head> 
<body>
<div class="container">
<h1>공통문서양식 관리</h1>
	<table>
		<tr th:each="list : ${list}">
			<td>
				<a th:id="documentFormCategory" th:val="${list.documentFormCategoryCode}" th:href="@{/getDocumentForm(documentFormCategoryCode = ${list.documentFormCategoryCode})}">
					<th:block th:text="${list.documentFormCategoryName}"></th:block>
				</a>
			</td>
		</tr>
	</table>
</div>
<div class="container">
	<table>
		<thead>
            <tr>
                <th></th>
                <th>문서 카테고리</th>
                <th>제목</th>
                <th>등록일</th>
            </tr>
        </thead>
		<tbody id="documentFormList">
        </tbody>
	</table>
</div>
</body>
</html>