<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>지출결의서</title>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
</style>
</head>
<body>
	<h2>지출결의서</h2>
	<table style="width:90%">
		<tr>
			<th>제목</th>
			<td colspan="3">Bill Gates</td>
		</tr>
		<tr>
			<th>부서</th>
			<td>
				<a th:value="달러">
					<th:block th:text="달러"></th:block>
				</a>
			</td>
			<th>담당자</th>
			<td>
				<a th:value="달러">
					<th:block th:text="달러"></th:block>
				</a>
			</td>
		</tr>
		<tr>
			<th>계좌번호(은행)</th>
			<td>
				<a th:value="달러">
					<th:block th:text="달러"></th:block>
				</a>
			</td>
			<th>예금주</th>
			<td>
				<a th:value="달러">
					<th:block th:text="달러"></th:block>
				</a>
			</td>
		</tr>
		<tr>
			<th>합계금액</th>
			<td>
				<a th:value="달러">
					<th:block th:text="달러"></th:block>
				</a>
			</td>
			<th>지급조건</th>
			<td>
				<a th:value="달러">
					<th:block th:text="달러"></th:block>
				</a>
			</td>
		</tr>
		<tr>
			<th>기안일</th>
			<td>
				<a th:value="달러">
					<th:block th:text="달러"></th:block>
				</a>
			</td>
			<th>지급요청일</th>
			<td>
				<a th:value="달러">
					<th:block th:text="달러"></th:block>
				</a>
			</td>
		</tr>
	</table>
	<br>
	<table style="width:90%">
		<tr>
			<th>계정과목</th>
			<th>지출일</th>
			<th>지출내용</th>
			<th>거래처</th>
			<th>금액</th>
			<th>결제수단</th>
			<th>비고</th>
			<th>증빙</th>
			<th>삭제</th>
		</tr>
		<tr>
			<td>
				<select name="job">
				    <option value="">직업선택</option>
				    <option value="학생">학생</option>
				    <option value="회사원">회사원</option>
				    <option value="기타">기타</option>
				</select>
			</td>
			<td>
				<a th:value="달러">
					<th:block th:text="달러"></th:block>
				</a>
			</td>
			<td>
				<a th:value="달러">
					<th:block th:text="달러"></th:block>
				</a>
			</td>
			<td>
				<a th:value="달러">
					<th:block th:text="달러"></th:block>
				</a>
			</td>
			<td>
				<a th:value="달러">
					<th:block th:text="달러"></th:block>
				</a>
			</td>
			<td>
				<select name="job">
				    <option value="">직업선택</option>
				    <option value="학생">학생</option>
				    <option value="회사원">회사원</option>
				    <option value="기타">기타</option>
				</select>
			</td>
			<td>
				<a th:value="달러">
					<th:block th:text="달러"></th:block>
				</a>
			</td>
			<td>
				<a th:value="달러">
					<th:block th:text="달러"></th:block>
				</a>
			</td>
			<td>
				<a th:value="달러">
					<th:block th:text="달러"></th:block>
				</a>
			</td>
		</tr>
	</table>
</body>
</html>