<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>프로젝트 업무보고</title>
</head>
<body>
<div class="container">
	<h1>프로젝트 업무보고</h1>
	<form>
		<div>
			<table>
				<tr>
					<td>문서양식명</td>
					<td>
						<a th:value="달러">
							<th:block th:text="달러"></th:block>
						</a>
					</td>
				</tr>
				<tr>
					<td>부서</td>
					<td>
						<a th:value="달러">
							<th:block th:text="달러"></th:block>
						</a>
					</td>
				</tr>
				<tr>
					<td>직위/직책</td>
					<td>
						<a th:value="달러">
							<th:block th:text="달러"></th:block>
						</a>
					</td>
				</tr>
				<tr>
					<td>작성자명</td>
					<td>
						<a th:value="달러">
							<th:block th:text="달러"></th:block>
						</a>
					</td>
				</tr>
				<tr>
					<td>작성일</td>
					<td>
						<a th:value="달러">
							<th:block th:text="달러"></th:block>
						</a>
					</td>
				</tr>
				<tr>
					<td>프로젝트 명</td>
					<td>
						<select name="job">
						    <option value="">직업선택</option>
						    <option value="학생">학생</option>
						    <option value="회사원">회사원</option>
						    <option value="기타">기타</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>프로젝트 업무 내역</td>
					<td>
						<textarea rows="10" cols="30">
						The cat was playing in the garden.
						</textarea>
					</td>
				</tr>
				<tr>
					<td>프로젝트 이슈 사항</td>
					<td>
						<textarea rows="10" cols="30">
						The cat was playing in the garden.
						</textarea>
					</td>
				</tr>
				<tr>
					<td>프로젝트 요청 사항</td>
					<td>
						<textarea rows="10" cols="30">
						The cat was playing in the garden.
						</textarea>
					</td>
				</tr>
			</table>
		</div>
	</form>
</div>
</body>
</html>