<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>프로젝트 지출결의서</title>
</head>
<body>
<div class="container">
	<h1>프로젝트 지출결의서</h1>
	<form>
		<div>
			<table>
				<tr>
					<td>문서양식명</td>
					<td>
						<a th:value="달러">
							<th:block th:text="달러"></th:block>
						</a>
					</td>
				</tr>
				<tr>
					<td>부서</td>
					<td>
						<a th:value="달러">
							<th:block th:text="달러"></th:block>
						</a>
					</td>
				</tr>
				<tr>
					<td>직위/직책</td>
					<td>
						<a th:value="달러">
							<th:block th:text="달러"></th:block>
						</a>
					</td>
				</tr>
				<tr>
					<td>신청자명</td>
					<td>
						<a th:value="달러">
							<th:block th:text="달러"></th:block>
						</a>
					</td>
				</tr>
				<tr>
					<td>기안일</td>
					<td>
						<a th:value="달러">
							<th:block th:text="달러"></th:block>
						</a>
					</td>
				</tr>
				<tr>
					<td>프로젝트 명</td>
					<td>
						<select name="job">
						    <option value="">직업선택</option>
						    <option value="학생">학생</option>
						    <option value="회사원">회사원</option>
						    <option value="기타">기타</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>지출 항목</td>
					<td>
						<select name="job">
						    <option value="">직업선택</option>
						    <option value="학생">학생</option>
						    <option value="회사원">회사원</option>
						    <option value="기타">기타</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>지출금액</td>
					<td>
						<a th:value="달러">
							<th:block th:text="달러"></th:block>
						</a>
					</td>
				</tr>
			</table>
		</div>
	</form>
</div>
</body>
</html>

th:action="@{/join}" th:object="${join_form}" method="post"