<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>구매요청서</title>
		<style>
			table, th, td {
				border: 1px solid black;
				border-collapse: collapse;
			}
			th, td {
				padding: 15px;
			}
		</style>
		<th:block th:include="layout/customHead"></th:block>
	</th:block>
	
	<th:block layout:fragment="customBody">
		<body>
			<h2>구매요청서</h2>
			<table style="width:90%">
				<tr>
					<th>소속</th>
					<td>
						<a th:value="달러">
							<th:block th:text="달러"></th:block>
						</a>
					</td>
					<th>신청자</th>
					<td>
						<a th:value="달러">
							<th:block th:text="달러"></th:block>
						</a>
					</td>
					<th>직위/직책</th>
					<td>
						<a th:value="달러">
							<th:block th:text="달러"></th:block>
						</a>
					</td>
				</tr>
				<tr>
					<th>작성일</th>
					<td>
						<a th:value="달러">
							<th:block th:text="달러"></th:block>
						</a>
					</td>
					<th>지급요청일</th>
					<td>
						<a th:value="달러">
							<th:block th:text="달러"></th:block>
						</a>
					</td>
					<th>총 요청금액</th>
					<td>
						<a th:value="달러">
							<th:block th:text="달러"></th:block>
						</a>
					</td>
				</tr>
			</table>
				<br>
			<table style="width:90%">
				<tr>
					<th>품목</th>
					<th>품명</th>
					<th>단위</th>
					<th>수량</th>
					<th>단가</th>
					<th>금액</th>
					<th>비고</th>
					<th>삭제</th>
				</tr>
				<tr>
					<td>
						<select name="job">
						    <option value="">사무용품</option>
						    <option value="학생">학생</option>
						    <option value="회사원">회사원</option>
						    <option value="기타">기타</option>
						</select>
					</td>
					<td>
						<a th:value="달러">
							<th:block th:text="품명"></th:block>
						</a>
					</td>
					<td>
						<a th:value="달러">
							<th:block th:text="단위"></th:block>
						</a>
					</td>
					<td>
						<a th:value="달러">
							<th:block th:text="수량"></th:block>
						</a>
					</td>
					<td>
						<a th:value="달러">
							<th:block th:text="단가"></th:block>
						</a>
					</td>
					<td>
						<a th:value="달러">
							<th:block th:text="금액"></th:block>
						</a>
					</td>
					<td>
						<a th:value="달러">
							<th:block th:text="비고"></th:block>
						</a>
					</td>
					<td>
						<a th:value="달러">
							<th:block th:text="삭제"></th:block>
						</a>
					</td>
				</tr>
			</table>
		</body>
	</th:block>
	
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
	</th:block>
	
</html>
